.footer 
    .container-lg
        .footer__wrp 
            .row 
                .footer__side.col-md-4
                    a.logo.mx-auto.ms-md-0(href="")
                
                .footer__side.col-xs-6.col-md-4 
                    p 
                        b location 
                    p Model Town, Block Sigma 7 Up Building, Floor 17 Lahore.
                .footer__side.col-xs-6.col-md-4 
                    p 
                        b Say Hello
                    p 
                        a(href="") hello@gidilu.com
                    p 
                        a(href="") T: +92 389 856 47

        .footer__wrp 
            .row 
                .footer__side.col-md-6 
                    ul.text-center.text-md-start 
                        li: a(href="") Careers 
                        li: a(href="") Cases 
                        li: a(href="") Service 

                .footer__side.col-md-6 
                    p.text-center.text-md-end © 2019 Fatik Owais - All rights Reserved  


