#header.navbar
    .container-lg 
        .navbar__info 
            .navbar__logo 
                a(href="") Gidilu 
            .navbar__text 

                button.navbar-toggler.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#toggleNav" aria-controls="toggleNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon

        
        .collapse.navbar-collapse#toggleNav 
            ul.navbar-nav 
                li.nav-item 
                    a.nav-link(href="index.html") Home 
                li.nav-item 
                    a.nav-link(href="blog.html") Blog
                li.nav-item 
                    a.nav-link(href="about.html") About
                li.nav-item 
                    a.nav-link(href="contact.html") Contact
                
