.#{$prefix-class}main-header {
    @apply absolute top-16 left-16 w-[calc(100%_-_2rem)] bg-transparent z-10;
    @include vendor('transition', '0.3s ease-out');

    .brand {

        a {
            @apply block py-16;

            img {
                @apply block max-w-[unset] w-auto h-[16px];
            }
        }
    }

    &__menu {

        .navbar {

            a {
                @apply bg-white;
                font-size: _rem(13);
                line-height: 60px;
                @apply uppercase not-italic font-600 tracking-0.4 text-primary-01 no-decoration;
        
                &:hover,
                &:active,
                &.active {
                   @apply bg-brand-1 text-white; 
                }
            }
        
            li {
        
                &:before {
                    @apply border-t-brand-1;
                }
            }
        }
        
        .navbar ul {
            @apply min-w-[180px];
        
            a {
                line-height: 24px;
                @apply normal-case font-400;
            }
        
            li {
                @apply bg-white;
                
                &:before {
                    @apply border-l-brand-1 border-t-transparent;
                }
            }

            &:before {
                @apply block absolute top-12 left-0 h-[calc(100%_-_12px)] w-full;
                @apply bg-white;
                box-shadow: 0 2px 18px -1px rgba(32,32,37,0.15);
                content: '';
            }
        }

        .navbar ul ul {


            &:before {
                @apply top-0 left-12 w-[calc(100%_-_12px)] h-full;
            }
        }
    }

    .nav-lang {
        @apply relative;

        &__btn {
            @apply bg-white relative block overflow-hidden;
            @apply px-16;
            @apply flex justify-center items-center gap-x-8;
            font-size: _rem(13);
            line-height: 60px;
            @apply uppercase not-italic font-600 tracking-0.4 text-primary-01 no-decoration;
            @include vendor('transition', '0.3s ease');

            .fa {
                font-size: _rem(11);
                line-height: _rem(24);
            }

            &:hover {
                @apply cursor-pointer bg-brand-1 text-white;
            }
        }

        &__btn.active {
            @apply cursor-pointer bg-brand-1 text-white;

            .fa {@include vendor('transform', 'rotate(-180deg)');}
        }

        &__content {
            @apply hidden absolute top-[calc(100%_+_12px)] w-full h-auto;

            min-width: 140px;
            @include vendor('transition', '0.3s ease');

            a {
                @apply py-12 px-16;
                @apply relative block w-full overflow-hidden;
                font-size: _rem(13);
                line-height: _rem(24);
                @apply uppercase not-italic font-600 tracking-0.4 text-primary-01 no-decoration;
                @include vendor('transition', '0.3s ease');

                &:hover {
                    @apply pl-24 cursor-pointer;
                    @apply bg-brand-1 text-white;
                }
            }

            ul {
                box-shadow: 0 2px 18px -1px rgba(32,32,37,0.15);
            }
        }
    }

    .nav-search {

        &__btn {
            @apply bg-white relative block overflow-hidden;
            @apply px-16;
            height: 72px;
            @include vendor('transition', '0.3s ease');

            .fa {}
        }
    }

    .#{$prefix-class}nav-right {
        @apply flex flex-wrap justify-center items-center;
    }
}


@screen lg {
    
    .#{$prefix-class}main-header {
    
        &.#{$prefix-class}main-header--type-01 {

            .#{$prefix-class}main-header__menu {
                
            }
        }
    }
}