.l-awards 
    .row 
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign
        .awards
            .awards__wrp 
                .awards__body 
                    .awards__img 
                        img.d-block.mx-auto(src="images/awards.png", alt="our awards" title="our awards")
                    .awards__text 
                        p.text-center 
                            b Effie design Award
                        p.text-center Best Campaign