.banner
    .swiper 
        .swiper-wrapper
            .swiper-slide
                .banner-image
                    img.lazyload.img-absolute.center.d-block.d-md-none(src="images/banner-seo-mobile.jpg", alt="")
                    img.lazyload.img-absolute.center.d-none.d-md-block(src="images/banner-seo.jpg", alt="")
                .banner-text.left-side
                    .h1 
                        b Reach & connect with your 
                        | target customer.
                    p Ensuring the best return on investment for your bespoke SEO campaign requirement.

                    .banner-form 
                        form(action="")
                            input.form-control-plaintext.form-control-sm(type="text", name="link" placeholder="Your Current Site Link")
                            button.btn.btn-sm(type="submit") 
                                span Analysis yoour site 

            .swiper-slide
                .banner-image
                    img.lazyload.img-absolute.center.d-block.d-md-none(src="images/banner-store-mobile.jpg", alt="")
                    img.lazyload.img-absolute.center.d-none.d-md-block(src="images/banner-store.jpg", alt="")
                .banner-text.left-side
                    .h1 
                        b Grow You'r online Business 
                        | with us.
                    p Rorem ipsum dolor sit ametconsectetur adipiscing elit,tempor Rorem ipsum dolor sit ametconsectetur adipiscing eli.
                        br 
                        a.btn(href="#", target="_blank", rel="noopener noreferrer") 
                            span Our All Service
        .swiper-btn-prev
            span prev
        .swiper-btn-next
            span next

        .swiper-pagination
