.l-blog
    .row 
        .blog 
            .blog__wrp
                .blog__body 
                    span.blog__categories 
                        a(href="") News From Company
                    h3.blog__title 
                        a(href="") See Our Year in Review. Goodbye 2019, it have been a rollercoaster
                .blog__footer
                    span.blog__date 17 December, 2019
        .blog 
            .blog__wrp
                .blog__body 
                    span.blog__categories 
                        a(href="") News From Company
                    h3.blog__title 
                        a(href="") Half the Web is Still Risked Because Its Not Encrypted Right 
                .blog__footer
                    span.blog__date 17 December, 2019
        .blog 
            .blog__wrp
                .blog__body 
                    span.blog__categories 
                        a(href="") News From Company
                    h3.blog__title 
                        a(href="") Half the Web is Still Risked Because Its Not Encrypted Right 
                .blog__footer
                    span.blog__date 17 December, 2019
        .blog 
            .blog__wrp
                .blog__body 
                    span.blog__categories 
                        a(href="") News From Company
                    h3.blog__title 
                        a(href="") Half the Web is Still Risked Because Its Not Encrypted Right 
                .blog__footer
                    span.blog__date 17 December, 2019