.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 01
                    b ui-ux design
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 02
                    b design coding
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 03
                    b branding
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 04
                    b marketing
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 05
                    b ios apps
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 06
                    b custom cms
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 07
                    b java apps
.service.col-xs-6.col-md-4.col-lg-3
    .service__wrp 
        .service__body 
            a(href="")
                p 
                    span 08
                    b ecommerce