.l-works 
    .swiper 
        .swiper-wrapper
            .swiper-slide.title 
                .c-title  
                    p 
                        b Explore recent works
                    p We’re constantly refining our product. Adding new features. Working to help your section business grow.
            .swiper-slide
                .works 
                    .wrp-works 
                        .thumbs
                            a(href="")
                                img(src="images/work-01.jpg", alt="our works" title="our works")
                        .body
                            h3 Ilustrator for Invite Studio 
                            p
                                a.lbl.lbl-ilustator(href="") Ilustrator 
                                a.lbl.lbl-website(href="") Website
            .swiper-slide
                .works 
                    .wrp-works 
                        .thumbs
                            a(href="")
                                img(src="images/work-02.jpg", alt="our works" title="our works")
                        .body
                            h3 Admin Dashboard by Maxsol
                            p
                                a.lbl.lbl-website(href="") Dashboard 
                                a.lbl.lbl-themes(href="") Themes
            .swiper-slide
                .works 
                    .wrp-works 
                        .thumbs
                            a(href="")
                                img(src="images/work-03.jpg", alt="our works" title="our works")
                        .body
                            h3 Apps by Maxsol
                            p
                                a.lbl.lbl-apps(href="") Apps
            .swiper-slide
                .works 
                    .wrp-works 
                        .thumbs
                            a(href="")
                                img(src="images/work-04.jpg", alt="our works" title="our works")
                        .body
                            h3 Ilustrator
                            p
                                a.lbl.lbl-website(href="") Website   
        .swiper-pagination
