html,
body {@apply h-full;}

.no-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    border: none;
    outline: none;
    user-select: none;
}

a {
    transition: all 0.3s ease;
    text-decoration: underline;
}

.#{$prefix-class}body-wrp {@apply h-full;}
.#{$prefix-class}main {
    @apply min-h-full h-auto;
}
.push{@apply h-0;}