extends ../layout/default-layout.pug

block variables
    - var meta_title    = 'YIG - yudiantara i gde'
    - var meta_desc     = 'hello, i am gde. this my personal blog.'
    - var meta_keyword 	= 'free html, html, gulp 4.0, pug, sass, stater kick'
    - var meta_url      = ''
    - var meta_img      = ''
    - var pageClass     = ''
    - var header        = ''
    
block content
    .big-title
        .container-lg 
            p Lahore Based Digital Agency

            .social-media 
                span 
                    a(href="") Facebook 
                span 
                    a(href="") Instagram 
                span 
                    a(href="") Behance

    .heroes-banner 
        .container-lg
            include ../components/banner
              
    .our-works
        .container-lg
            .c-title  
                p 
                    b Explore recent works
                p We’re constantly refining our product. Adding new features. Working to help your section business grow.
            
            include ../components/works

    .our-service 
        .container-lg 
            .c-title  
                p.text-center 
                    b Featured service
                p.text-center We’re constantly refining our product. Adding new features. Working to help your section business grow.
            .row 
                include ../components/service   

    .our-blog 
        .container-lg
            include ../components/blog    

    .our-awards 
        .container-lg
            p.text-center.text-uppercase.d-block.mx-auto.title 
                b Awards & Recognition
            p.text-center.d-block.mx-auto.title We’re providing best in class 360 degree digital services. We are ever evolving with you

            include ../components/awards  

    .our-client 
        .container-lg 
            p.text-uppercase.title 
                b selected client
            p.title We’re providing best in class 360 degree digital services. We are ever evolving with you

            include ../components/client

    .work-with-us 
        .container-lg 
            p.text-uppercase.title 
                b work with pro team 
            p.h1  Would you like to have a project? Let’s talk about it!
            p 
                a(href="") hello@gidilu.com 
            p 
                b or 
            p 
                a(href="") +92 389 856 47

    .the-careers 
        .container-lg 
            p.text-uppecase.title 
                b careers 

            .l-careers 
                .row 
                    .careers 
                        .careers__wrp 
                            .careers__body 
                                h2  We are looking for an AngularJS developer in Islamabad office
                                p 
                                    a(href="") 
                                        span Apply Now   


block script