.service {
    position: relative;
    max-width: 230px;
    margin: 0 auto _rem(32) auto;
    display: block;

    &__wrp {
        position: relative;
    }

    &__body {
        position: relative;
        padding-top: calc((1/1) * 100%);

        a {
            @include vendor('display', 'flex');
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: _rem(32);
            border: 2px solid _color(white);
            background-color: transparent;
        }

        p {
            color: _color(white);
            text-align: center;
            text-transform: uppercase;

            span {display: block;}
        }
    }

    &:hover,
    &:active {

        a {
            background-color: #7486e5;
            border-color: #7486e5;
        }
    }
}

@include media-breakpoint-up(xs) {
    .service {
        max-width: 100%;
        margin-bottom: _rem(16);
        margin-top: _rem(16);
    }
}

@include media-breakpoint-up(lg) {
    .service:nth-child(even) {

        .service__wrp {
            margin-top: 50%;
        }
    }
}