<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

        <title>meta title here</title>
        <meta name="description" content="meta description here">

        <link rel="shortcut icon" href="">
        <link rel="apple-touch-icon" href="">
        <link rel="image_src" href=""> 
        <link rel="canonical" href="" />
        
        <meta name="bingbot" content="noarchive">         
        <meta property="og:type" content= "website" />
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content="meta title here" />
        <meta property="og:image" itemprop="image primaryImageOfPage" content="" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:domain" content="https://www.url.com"/>
        <meta name="twitter:title" property="og:title" itemprop="name" content="meta title here" />
        <meta name="twitter:description" property="og:description" itemprop="description" content="meta description here" />
        
        
        <link rel="stylesheet" type="text/css" href="../third-party/mmenu/mmenu.css"/>

        
        
        
        
        
        
        
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        
        
            </head>

    <body class="fp-body fp-enabled-sticky-header ">
        
        <header class="fp-main-header fp-main-header--type-01">
    <div class="container-max-xl">
        <div class="fp-main-header__menu">
            <div class="fp-nav-left">
                <div class="brand">
                    <a href="">
                        <img src="../img/logo/logo-brand.png" alt="logo" title="logo">
                    </a>
                </div>
                <nav id="nav" class="hidden lg:block">
                    <ul class="navbar justify-start">
                                                    <li>
                                                                    <a href="index.html"> Home </a>
                                
                                                            </li>
                                                    <li>
                                                                    <a href="#"> Component </a>
                                
                                                                    <ul>
                                                                                    <li>
                                                <a href="#">Main</a>
                                                
                                                                                                    <ul>
                                                                                                                    <li><a href="component/header.html">Header</a></li>
                                                                                                                    <li><a href="component/footer.html">Footer</a></li>
                                                                                                            </ul>
                                                                                            </li>
                                                                                    <li>
                                                <a href="./typography.html">Typography</a>
                                                
                                                                                            </li>
                                                                                    <li>
                                                <a href="./space.html">Space</a>
                                                
                                                                                            </li>
                                                                                    <li>
                                                <a href="#">Forms</a>
                                                
                                                                                                    <ul>
                                                                                                                    <li><a href="./forms-input.html">Forms Input</a></li>
                                                                                                                    <li><a href="./button.html">Button</a></li>
                                                                                                            </ul>
                                                                                            </li>
                                                                            </ul>
                                                            </li>
                                            </ul>
                </nav>
            </div>

            <div class="fp-nav-right">
                <div class="nav-lang">
                    <span class="nav-lang__btn">
                        Indonesia
                        <i class="fa fa--solid fa--chevron-down"></i>
                    </span>
                    <div class="nav-lang__content">
                        <ul>
                            <li><a href="">Indonesia</a></li>
                            <li><a href="">English</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>
        
        <div class="fp-main-body ">
            
            
<div class="fp-post fp-post--single spancer-sm">
    <div class="fp-post-header">
        <h1>Typhography and Block Style</h1>
        <div class="fp-post-sparator"></div>
    </div>

    <div class="fp-post-media fp-post-media--on-top fp-paragraph-sm">
        <figure class="fp-media fp-media--caption-inside">
            <a href="../img/content/sample-01.jpg" class="fp-popup-image" title="Topview mockup calligraphy"><img src="../img/content/sample-01.jpg" alt="" title=""></a>
            <figcaption class="fp-media-caption">Topview mockup calligraphy with eucalyptus, ink and nibs</figcaption>
        </figure>
    </div>

    <div class="fp-post-content fp-paragraph-sm text-justify text-primary-01">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis massa nec accumsan eleifend. Cras non scelerisque libero. Nullam luctus erat quis neque elementum tincidunt. Donec nec justo erat. Etiam a pretium nisi, eu eleifend ligula. Donec in justo sodales elit pellentesque cursus sed ac dui. Vestibulum malesuada nunc at orci vulputate tincidunt. Aenean blandit, eros a rutrum aliquet, diam arcu dapibus quam, eu fermentum mi mauris at mi. Maecenas facilisis non nulla at tempor. Vivamus odio est, egestas ut condimentum at, euismod ut nisl. Morbi ac arcu faucibus, dictum augue non, lobortis magna. Morbi ultrices lorem mi, ut tristique odio luctus ac. Nunc mattis mi non metus ultrices consectetur. Mauris ut pharetra mauris.</p>
        <figure class="fp-media fp-media--caption-inside fp-media--wide">
            <a href="../img/content/sample-02.jpg" class="fp-popup-image" title="Topview mockup calligraphy with eucalyptus, ink and nibs"><img src="../img/content/sample-02.jpg" alt="" title=""></a>
            <figcaption class="fp-media-caption">Topview mockup calligraphy with eucalyptus, ink and nibs</figcaption>
        </figure>
        <h2>Heading 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <p>Aliquam pulvinar sit amet nunc ut vulputate. Nullam sit amet convallis ante. Phasellus ultrices nisl enim, vulputate tincidunt nisl sollicitudin sit amet. Aenean euismod velit ut metus feugiat, vitae pharetra ex suscipit. Aliquam nec justo tortor. Pellentesque euismod lorem et posuere ornare. Vestibulum scelerisque vitae velit consectetur iaculis. Nam maximus aliquet sapien, a euismod purus. Ut at tempus mauris. Morbi tempus nisl et iaculis commodo. Maecenas sit amet suscipit sem. Sed id magna nunc.</p>
        <h3>Heading 3</h3>
        <figure class="fp-media fp-media--caption-bottom">
            <a href="../img/content/sample-02.jpg" class="fp-popup-image" title="Topview mockup calligraphy with eucalyptus, ink and nibs">
                <img src="../img/content/sample-02.jpg" alt="" title="">
            </a>
            <figcaption class="fp-media-caption">Topview mockup calligraphy with eucalyptus, ink and nibs</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <figure class="fp-media fp-media--wide">
            <figure class="fp-gallery">
                <figure class="fp-media fp-media--caption-inside">
                    <a href="../img/content/sample-01.jpg" class="fp-popup-image" title="Topview mockup calligraphy"><img src="../img/content/sample-01.jpg" alt="" title=""></a>
                    <figcaption class="fp-media-caption">Topview mockup calligraphy</figcaption>
                </figure>
                <figure class="fp-media fp-media--caption-inside">
                    <a href="../img/content/sample-02.jpg" class="fp-popup-image" title="Topview mockup calligraphy"><img src="../img/content/sample-02.jpg" alt="" title=""></a>
                    <figcaption class="fp-media-caption">Topview mockup calligraphy</figcaption>
                </figure>
                <figure class="fp-media fp-media--caption-inside">
                    <a href="../img/content/sample-03.jpg" class="fp-popup-image" title="Topview mockup calligraphy"><img src="../img/content/sample-03.jpg" alt="" title=""></a>
                    <figcaption class="fp-media-caption">Topview mockup calligraphy</figcaption>
                </figure>

                <figcaption class="fp-media-caption">Topview mockup calligraphy with eucalyptus, ink and nibs</figcaption>
            </figure>
        </figure>
        <h4>Heading 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <h5>Heading 5</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <h6>Heading 6</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <h6>Unorder list</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <ul style="list-style: disc;">
            <li>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <ul style="list-style: lower-alpha;">
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
                    <li>Fusce convallis metus id felis luctus adipiscing.</li>
                </ul>
            </li>
            <li>
                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
                    <li>Fusce convallis metus id felis luctus adipiscing.</li>
                </ol>
            </li>
            <li>Fusce convallis metus id felis luctus adipiscing.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <h6>Order list</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <ol>
            <li>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <ul style="list-style: disc;">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.</li>
                </ul>
            </li>
            <li>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi.</li>
                    <li>Fusce convallis metus id felis luctus adipiscing.</li>
                </ol>
            </li>
        </ol>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <h6>Blockquote</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu elit, rutrum eu magna in, consectetur cursus magna. Donec fermentum lectus eu velit rutrum cursus. Ut eu justo aliquam, congue ipsum non, convallis mi. Donec sollicitudin, nibh vitae tincidunt tempor, elit lacus tristique diam, sit amet efficitur massa ligula vitae odio. Duis interdum pretium tellus ac ultrices. Vestibulum vitae nunc sollicitudin, hendrerit felis nec, congue magna. Aenean iaculis vestibulum orci, gravida porttitor est ultrices eu. Proin dapibus porta scelerisque.</p>
        <blockquote class="fp-block-quoto">
            <p>When you do something noble and beautiful and nobody noticed, do not be sad. For the sun every morning is a beautiful spectacle and yet most of the audience still sleeps.</p>
            <span>- John Lennon</span>
        </blockquote>
    </div>

    <div class="fp-post-share">
        <ul class="fp-post-share__list">
            <li>
                <a href="" rel="nofollow noopener" target="_blank" class="fp-btn-share fp-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Twitter X">
					<svg class="fp-btn-share__icon fp-btn-share__icon--x" viewBox="0 0 16 16">
						<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"></path>
					</svg>
				</a>
            </li>
            <li>
                <a href="" rel="nofollow noopener" target="_blank" class="fp-btn-share fp-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Facebook">
					<i class="fp-btn-share__icon fa fa--facebook-f"></i>
				</a>
            </li>

            <li>
                <a href="" rel="nofollow noopener" target="_blank" class="fp-btn-share fp-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Pinterest">
					<i class="fp-btn-share__icon fa fa--pinterest-p"></i>
				</a>
            </li>
        </ul>
    </div>
</div>

        </div>

        
        <footer class="fp-main-footer">
    <div class="bg-palette-background">
        <div class="container-max-xl py-32 md:py-48 lg:py-56 xl:py-64">
            <div class="grid grid-cols-1 gap-0 lg:grid-cols-2 lg:gap-x-48">
                <div class="fp-footer-contact fp-paragraph-lg text-palette-text">
                    <h2>Want to <a href="" class="with-color"><span>Work ?</span></a></h2>
                </div>
                <div class="fp-footer-contact fp-paragraph-lg text-palette-text">
                    <p>
                        If you need a modern and powerful website for your business, startup or personally, I am available for work. You can email me directly at <a href="mailto:yudiantara.gde@gmail.com" class="with-color"><span>yudiantara.ge@gmail.com</span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-max-xl pb-24 pt-32 lg:pt-48">
            <div class="fp-paragraph-sm text-palette-text text-left text-opacity-50">
                <p>© All right reserved – yudiantara.gde</p>
            </div>
        </div>
    </div>
</footer>
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- superfish js -->
        <!--
        <script src="../third-party/superfish/js/hoverIntent.js"></script>
        <script src="../third-party/superfish/js/superfish.js"></script>
        -->
        
        
                
        <!-- mmMenu js -->
        <script src="../third-party/mmenu/mmenu.js"></script>
        
        
                
        
                
        <!-- themes js -->
        <script src="../js/scripts.js"></script>

    </body>